@import 'partials/commons';
body {
    background-color: #212529;
}

.icon {
    font-size: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgba(black, 0.6);
    margin: 5px;
    border-radius: 50%;
}

.create, .back {
        font-size: 30px;
        width: 70px;
        height: 70px;
}

.back {
    position: fixed;
    top: 20px;
    right: 20px;
}

#row-add {
    height: 100px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.year {
    font-style: italic;
}

.poster {
    height: 100vh;
}

.right {
    text-align: right;
}

blockquote {
    max-height: 300px;
    overflow-y: auto;
}